body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /* background-color: #615163; */
  background-image: url("/images/bg-fabric.png");
}

.pfp {
  /* z-index: -1; */
  max-height: 80px;
}

.displayName {
  margin: 2em;
}

/* ==== tablet ==== */

@media only screen and (max-width: 1023px) {
  header {
    height: 400px;
    width: 100%;
    margin-top: 0;
  }
  .pfp {
    margin-top: 2em;
  }
}

/* ==== desktop ==== */
@media only screen and (min-width: 1024px) {
  header {
    height: 450px; 
    width: 60%;
    margin-right: 2em;
    margin-left: 2em;
  }
  .pfp {
    margin-top: 2em;
  }
  .displayName {
    margin: 3em;
  }
}

