.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-image: url("/images/bg-fabric.png");
  height: fit-content;
}

.pfp {
}

.pfp img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.displayName {
}

/* ==== tablet ==== */

@media only screen and (max-width: 1023px) {
  .profile-header {
    height: 400px;
    width: 100%;
    margin-top: 0;
  }
  .pfp {
    width: 180px;
    margin-top: 60px;
  }
}

/* ==== desktop ==== */
@media only screen and (min-width: 1024px) {
  .profile-header {
    height: 450px; 
    width: 60%;
    margin-right: 2em;
    margin-left: 2em;
  }
  .pfp {
    margin-top: 2em;
  }
  .displayName {
  }
}

