nav {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: #edffab;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 9;
}

#nav-logo {
  margin-top: 50px;
  font-size: 36px;
  font-family: 'Bungee', sans-serif;
}

#nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

#nav-right p {
  margin-bottom: 15px;
}

#nav-right i {
  margin-bottom: 10px;
}

/* ==== tablet ==== */

@media only screen and (max-width: 1023px) {
  nav {
    background-color: transparent;
  }

  .tagline {
    display: none;
  }

  #nav-right i {
    position: absolute;
    top: 58px;
  }
}

/* ==== desktop ==== */
@media only screen and (min-width: 1024px) {
  nav {
    background-color: #6f3577;
    margin-bottom: 120px;
  }
}