nav {
  position: fixed;
  top:0;
  height: 120px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 0px;
  color: #edffab;
  box-shadow: 0px 10px 50px 20px #76527a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 9;
  background-color: #89608e;

}

#nav-logo {
  margin-top: 50px;
  font-size: 36px;
  font-family: 'Bungee', sans-serif;
}

/* Consider using overflow-x: auto with flexbox to allow swiping on narrow screens */
/* ====== DEMO ====== */
/* @media (max-width: 50em) {
  .cards {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    scroll-behavior: smooth;
  }
  .cards .card {
    flex-shrink: 0;
    flex-basis: 15em;
    scroll-snap-align: start;
  } */

#nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

#nav-right p {
  margin-bottom: 15px;
}
#nav-right i {
  margin-bottom: 10px;
}